.TodoList {
  width: 300px;
  min-height: 200px;
}

.TodoList__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: beige;
}

.TodoList__text {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
}